.blog {
    background-color: #fff;

    &-wrapp {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 5rem;
        padding-bottom: 5rem;

        @include tablets {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__left {
        width: 54rem;
    }

    &__right {

        @include tablets {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
        }
    }

    &-post {
        
        padding-bottom: 3rem;

        &:last-child {
            padding-bottom: 0;
        }
    }
}
