.contacts {
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-color: #fff;

    &-wrapp {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        @include tablets {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__left {
        width: 38rem;
        color: #737272;

        @include tablets {
            width: 100%;
        }
    }

    &__right {
        width: 46rem;
        margin-left: 1rem;

        @include tablets {
            width: 100%;
        }
    }
}

.contacts-data {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
}

.contacts-data-inner {
    margin-bottom: 1.8rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
