.up {
    display: flex;
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: rgb(207, 200, 200);
    bottom: 1rem;
    right: -10rem;
    border-radius: 100%;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    margin: auto;
    color: $color-red;
    font-size: 2rem;
}

