//breakpoints
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

//colors
$color-black: #000;
$color-blue: #002747;
$color-red: #d04544;
$color-yellow: #f3aa29;
$color-gray: #737272;

$font-family: 'Open Sans', sans-serif;